form {
  margin-top: 3%;
  display: flex;
  width: 70%;
}

form input {
  border-radius: 20px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.534);
  color: white;
}

form button {
  margin-left: 0.5%;
  border-radius: 5px;
  padding: 1%;
  color: #851e3e;
  border-color: #851e3e;
}

form input:hover {
  opacity: 0.9;
}
